@if (isAddingContact) {
  <app-contact (close)="onCloseAddContact()" />
  }
  
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home">Wei Lu</a>
    
    <!-- Hamburger Menu for Mobile -->
    <div class="hamburger-menu d-lg-none" (click)="toggleNavbar()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div #navbarContent class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0" >
        <li class="nav-item-home">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item-skills">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item-experience">
          <a class="nav-link" href="#experience">Experience</a>
        </li>
      </ul>
      <button class="btn btn-outline-secondary" type="button" (click)="onStartAddContact()">Contact Me</button>
    </div>
  </div>
</nav>


