/* Navbar and link styles */
.navbar .navbar-nav {
  justify-content: center;
}
.nav-link {
  font-weight: bold;
}
.nav-link.active {
  color: #cb9aa9 !important;
}
.nav-item-home{
  padding-left: 45px;
}

/* Hamburger Menu Styling */
.hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}
.hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

/* Responsive styles */
@media (max-width: 992px) {
  
  .navbar .navbar-nav {
    display: none; /* Hide links initially on mobile */
    flex-direction: column;
    width: 100%; /* Ensure navbar items take full width */
    justify-content: center;
  }

  .hamburger-menu {
    display: flex; /* Show hamburger on mobile */
  }

  .collapse.show .navbar-nav {
    display: flex; /* Show links when menu is toggled */
    text-align: center;
  }

  .navbar-collapse {
    text-align: center; /* Ensure navbar contents are centered */
  }

  .nav-item-home{
    padding-left: 0px;
  }
  
  
}
