.navbar .navbar-nav {
  justify-content: center;
}

.navbar .navbar-collapse {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px; /* Adjust padding to increase the size */
  font-size: 16px;     /* Increase the font size */
  min-width: 150px;    /* Set a minimum width to ensure the text fits */
  font-weight: bold;
}

.nav-item-home{
  padding-left: 80px;
}

@media (max-width: 768px) {
  .navbar {
      padding: 5px 0; /* Reduce overall padding of the navbar */
      height: auto; /* Ensure the navbar can collapse */
  }

  .navbar .navbar-nav {
      flex-direction: column; /* Stack items vertically */
      padding: 0; /* Remove padding for a tighter layout */
      margin: 0; /* Remove margin for a tighter layout */
  }

  .btn {
      margin-bottom: 0px; /* Add space below the button */
      font-size: xx-small; /* Set font size for buttons */
      padding: 5px 5px; /* Reduce button padding */
      text-align: center;
  }

  .nav-link {
      padding: 0px; /* Reduce padding for nav links */
      text-align: center; /* Center text on smaller screens */
      font-size: xx-small; /* Set font size for links */
  }

  .navbar-brand {
      font-size: xx-small; /* Reduce brand font size */
      text-align: center;
  }
  
}

.nav-link {
  font-weight: bold;
}

.nav-link.active {
  font-weight: bold; /* or change the color */
  color: #cb9aa9 !important;
}
