<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<footer class="footer">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">

    <a class="github" href="https://github.com/wesx196" target="_blank" >
        <i class="bi bi-github large-icon" style="color: grey" ></i>
    </a>

    <a class="instagram" href="https://www.instagram.com/wesx_erie/" target="_blank" >
        <i class="bi bi-instagram large-icon" style="color: grey"></i>
    </a>

    <a class="facebook" href="https://www.facebook.com/wei.lu.165" target="_blank" >
        <i class="bi bi-facebook large-icon" style="color: grey"></i>
    </a>

    <p>wesxerie&#64;gmail.com</p>
    <p>Wei Lu &copy; {{ currentYear }}</p>
  </div>
</footer>
