
<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
          
<div id="home" class="intro">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="profile-image">
    <img
      src="assets/wei.jpg"
      alt="Wei Image"
      class="img-fluid rounded-circle mx-auto d-block shadow-sm"
      width="350"
      height="350"
    />
  </div>
  <div class="name text-center">
    <h1 class="display-1">Wei Lu</h1>
    <h2 class="display-2">Software Engineer</h2>
    <a
      href="https://www.linkedin.com/in/wei-lu-26549b3a/"
      class="btn btn-primary"
      >LinkedIn</a
    >
    <a href="assets/Wei_Lu_Resume.docx" class="btn btn-secondary" download
      >Download CV</a
    >
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>


<br>
<div class="profile text-center">
  <h1 class="display-1">Profile</h1>
  <p class="lead">
    Hi, I’m Wei Lu, a passionate Software Engineer. With 3 years of experience
    in developing scalable software solutions, I specialize in full-stack
    development and data analysis. My expertise lies in transforming complex
    problems into efficient and user-friendly applications using modern
    technologies like JavaScript, Python, Angular, SQL, etc. I thrive on
    tackling challenging projects, particularly those involving ETL pipelines,
    cloud computing, or system architecture, and I am always excited to learn new
    tools and frameworks to stay ahead in the fast-evolving tech landscape. When
    I’m not coding, I enjoy playing basketball and video games.
  </p>
</div>

<br>
<br>
<div id="skills" class="skills text-center">
  <h1 class="display-1">Skills</h1>
  <p class="lead">
    
    <i class="devicon-java-plain"></i>
    <i class="devicon-python-plain"></i>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-html5-plain"></i>
    <i class="devicon-bootstrap-plain"></i>
    <i class="devicon-angular-plain"></i>
    <i class="devicon-rails-plain"></i>
    <i class="devicon-mongodb-plain"></i>
    <i class="devicon-azuresqldatabase-plain"></i>
          
  </p>
</div>

<br>
<br>
<br>
<br>
<div id="experience" class="experience text-center">
  <h1 class="display-1 mb-5">Experience</h1>
  
  <div class="container">
    <!-- TCS Experience -->
    <div class="row align-items-start mb-4">
      <div class="col-md-4 text-md-right text-primary font-weight-bold">
        <h3>TCS - Software Engineer</h3>
      </div>
      <div class="col-md-8 text-md-left">
        <p class="lead">
          Developed reconciliation and migration reports using Python to help clients gain better control of the ETL migration process. 
          These reports enhanced the transparency of data transformations and ensured smooth transitions during large-scale migrations.
        </p>
      </div>
    </div>

    <!-- Resiland Homes Experience -->
    <div class="row align-items-start mb-4">
      <div class="col-md-4 text-md-right text-primary font-weight-bold">
        <h3>Resiland Homes - Web Developer</h3>
      </div>
      <div class="col-md-8 text-md-left">
        <p class="lead">
          Developed a business website for a construction company using Ruby on Rails. Customers are able to view the introduction, 
          listing and recent projects of the company. Customer can also make a house tour appointments through the website.
        </p>
      </div>
    </div>

    <!-- University of Houston Experience -->
    <div class="row align-items-start mb-4">
      <div class="col-md-4 text-md-right text-primary font-weight-bold">
        <h3>University of Houston - Undergrad Student</h3>
      </div>
      <div class="col-md-8 text-md-left">
        <p class="lead">
          With a degree in Computer Information Systems, I have developed a strong foundation in both technical and business principles, 
          allowing me to effectively bridge the gap between IT and organizational operations. My coursework and hands-on projects covered
           key areas such as database management, systems analysis and design, cybersecurity, and software development. 
        </p>
      </div>
    </div>
  </div>
</div>




<footer class="footer">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    <p>Wei Lu &copy; {{currentYear}} </p>
    
  </div>
</footer>
