.intro {
  background-image: url("/assets/background.jpg");
  background-size: cover;
}

.display-1 {
  font-size: 3rem;
  font-weight: 450;
}

.display-2 {
  font-size: 2rem;
}

.name .btn {
  margin-right: 10px;
}

.profile {
  padding: 40px; 
}

.profile p {
  margin: 20px auto; 
  max-width: 800px; 
  line-height: 1.6; 
}

.skills .lead {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; 
}

.skills .lead i {
  font-size: 3rem; 
  margin: 10px; 
  color: #333; 
}


.skills .lead.no-margin {
  margin-top: 0; 
  margin-bottom: 0; 
  padding-right: 100px;
}

.skills .col-md-4{
  padding-left: 300px;
}

.project-image{
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.time {
  font-size: large
}


@media (max-width: 1200px) {
  .skills .row {
    flex-direction: column;
    text-align: center;
  }
}






