<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
/>

<div id="home" class="intro">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="profile-image">
    <img
      src="assets/wei.jpg"
      alt="Wei Image"
      class="img-fluid rounded-circle mx-auto d-block shadow-sm"
      width="350"
      height="350"
    />
  </div>
  <div class="name text-center">
    <h1 class="display-1">Wei Lu</h1>
    <h2 class="display-2">Software Engineer</h2>
    <a
      href="https://www.linkedin.com/in/wei-lu-26549b3a/"
      class="btn btn-primary"
      >LinkedIn</a
    >
    <a href="assets/Wei_Lu_Resume.docx" class="btn btn-secondary" download
      >Download CV</a
    >
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<br />
<div class="profile text-center">
  <h1 class="display-1">Profile</h1>
  <p class="lead">
    Hi, I’m Wei Lu, a passionate Software Engineer. With 3 years of experience
    in developing scalable software solutions, I specialize in full-stack
    development and data analysis. My expertise lies in transforming complex
    problems into efficient and user-friendly applications using modern
    technologies like JavaScript, Python, Angular, SQL, etc. I thrive on
    tackling challenging projects, particularly those involving ETL pipelines,
    cloud computing, or system architecture, and I am always excited to learn
    new tools and frameworks to stay ahead in the fast-evolving tech landscape.
    When I’m not coding, I enjoy playing basketball and video games.
  </p>
</div>

<br />
<br />
<div id="skills" class="skills text-center">
  <h1 class="display-1">Skills</h1>
  <p class="lead">
    <i class="devicon-java-plain"></i>
    <i class="devicon-python-plain"></i>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-html5-plain"></i>
    <i class="devicon-bootstrap-plain"></i>
    <i class="devicon-angular-plain"></i>
    <i class="devicon-rails-plain"></i>
    <i class="devicon-mongodb-plain"></i>
    <i class="devicon-azuresqldatabase-plain"></i>
  </p>
  <br />

  <div class="container">
    <!-- Frontend Skills -->
    <div class="row align-items-start mb-3">
      <div class="col-md-4 text-md-right text-secondary font-weight-bold">
        <h3>Frontend:</h3>
      </div>
      <div class="col-md-8 text-center">
        <p class="lead no-margin">Angular, HTML, CSS, JavaScript, Bootstrap</p>
      </div>
    </div>

    <!-- Backend Skills -->
    <div class="row align-items-start mb-3">
      <div class="col-md-4 text-md-right text-secondary font-weight-bold">
        <h3>Backend:</h3>
      </div>
      <div class="col-md-8 text-center">
        <p class="lead no-margin">Ruby on Rails, Java, Python</p>
      </div>
    </div>

    <!-- Database Skills -->
    <div class="row align-items-start mb-3">
      <div class="col-md-4 text-md-right text-secondary font-weight-bold">
        <h3>Database:</h3>
      </div>
      <div class="col-md-8 text-center">
        <p class="lead no-margin">MongoDB, SQL, Azure SQL Database</p>
      </div>
    </div>

    <!-- DevOps Skills -->
    <div class="row align-items-start mb-3">
      <div class="col-md-4 text-md-right text-secondary font-weight-bold">
        <h3>DevOps:</h3>
      </div>
      <div class="col-md-8 text-center">
        <p class="lead no-margin">Git, CI/CD, Docker</p>
      </div>
    </div>

    <!-- Softwares Skills -->
    <div class="row align-items-start mb-3">
      <div class="col-md-4 text-md-right text-secondary font-weight-bold">
        <h3>Softwares:</h3>
      </div>
      <div class="col-md-8 text-center">
        <p class="lead no-margin">
          Visual Studio Code, Eclipse, GitHub, Microsoft Office
        </p>
      </div>
    </div>

    <!-- Languages Skills -->
    <div class="row align-items-start mb-3">
      <div class="col-md-4 text-md-right text-secondary font-weight-bold">
        <h3>Languages:</h3>
      </div>
      <div class="col-md-8 text-center">
        <p class="lead no-margin">Mandarin, English</p>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />
<br />
<div id="experience" class="experience">
  <h1 class="display-1 mb-5 text-center">Experience</h1>

  <div class="container">
    <!-- TCS Experience -->
    <div class="row align-items-start mb-4">
      <div class="col-md-4 text-md-right text-secondary font-weight-bold text-center">
        <h3>TCS - Software Engineer</h3>
        <h3 class="time">05/2021 - 11/2024</h3>
      </div>
      <div class="col-md-8 text-md-left">
        <p class="lead">
          During the transformation phase in ETL, I modified the
          <strong>Crawford</strong>(file indexing tool) Java code to make it
          more effcient and parameter-driven. I also developed reconciliation
          and migration reports using <strong>Python</strong> to help clients
          gain better control of the <strong>ETL</strong> migration process.
          These reports enhanced the transparency of data transformations and
          ensured smooth transitions during large-scale migrations.
        </p>
      </div>
    </div>

    <!-- Resiland Homes Experience -->
    <div class="row align-items-start mb-4">
      <div class="col-md-4 text-md-right text-secondary font-weight-bold text-center">
        <h3>Resiland Homes - Web Developer</h3>
        <h3 class="time">11/2020 - 04/2021</h3>
      </div>
      <div class="col-md-8 text-md-left">
        <p class="lead">
          The construction company I worked for was still using old fashioned
          website built with plain HTML and CSS. I developed a business website
          for them using <Strong>Ruby on Rails</Strong>. Customers are able to
          view the introduction, listing and recent projects of the company.
          Customer can also make a house tour appointments through the website.
          The new website is more dynamic and has more features.
        </p>
      </div>
    </div>

    <!-- University of Houston Experience -->
    <div class="row align-items-start mb-4">
      <div class="col-md-4 text-md-right text-secondary font-weight-bold text-center">
        <h3>University of Houston - Undergrad Student</h3>
        <h3 class="time">08/2015 - 12/2020</h3>
      </div>
      <div class="col-md-8 text-md-left">
        <p class="lead">
          With a degree in Computer Information Systems, I have developed a
          strong foundation in both technical and business principles, allowing
          me to effectively bridge the gap between IT and organizational
          operations. My coursework and hands-on projects covered key areas such
          as <strong>database management</strong>,
          <strong>systems analysis and design</strong>,
          <strong>cybersecurity</strong>, and
          <strong>software development</strong>.
        </p>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />
<br />

<div id="projects" class="projects">
  <h1 class="display-1 mb-5 text-center">Projects</h1>
  <div class="container">
    <div class="row align-items-start mb-4">
      <div class="col-md-4 text-md-right text-secondary font-weight-bold">
        <a href="https://wesx196.github.io/easy-task/">
          <img
            class="project-image"
            src="assets/easy-task.jpg"
            alt="Wei Image"
          />
        </a>
      </div>
      <div class="col-md-8 area-style text-md-left">
        <p class="lead">
          In today's fast-paced world, managing tasks efficiently is essential for productivity and success. 
          An <strong>Easy Task</strong> Application is a user-friendly tool designed to simplify task organization, 
          improve time management, and boost collaboration among individuals or teams. With an intuitive 
          interface, this application allows users to create, assign, and track tasks seamlessly, ensuring 
          nothing slips through the cracks.
        </p>
      </div>
    </div>
  </div>
</div>
